<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TI_Banco_Dados.Properties.Settings.gradehorariaConnection"
            connectionString="server=localhost;user id=root;password=22HERO2284!*n;database=gradehoraria"
            providerName="MySql.Data.MySqlClient" />
        <add name="TI_Banco_Dados.Properties.Settings.gradehorariaConnectionString"
            connectionString="server=localhost;user id=root;password=22HERO2284!*n;persistsecurityinfo=True;database=gradehoraria"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>